body{
	color: #4C5270!important;
	font-size: 13px;
	font-family: arial;
	background: #f7f8f9;
}
a{
	cursor: pointer;
}
a:hover{
	text-decoration: none!important;
}
.main{
	padding-bottom:40px;
	background: #f7f8f9;
}
.nav a{
	color: #424651;
	height: 60px;
	width: 250px;
	line-height: 60px;
	vertical-align: middle;
	margin-left: 0;
	font-size: 14px;
}
.li-text{
	color: #958CA1;
}
.active .li-text{
	color: #654D88;
}
.nav a:hover{
	background: rgba(245,243,248,0.5);
}
.navbar-expand-lg{
	padding: 0;
	background: white;
}
.nav-link{
	padding: 0;
}
h1{
	font-size: 18px;
	margin-bottom: 20px;
	font-weight: 600;
	opacity: 0.4;
}
.photo img{
	height: 90px;
	width: 90px;
	margin: 20px 20px auto auto;
	border-radius: 2px;
}
.intro{
	float: left;
}
h2{
	font-size: 15px;
}
.title{
	float: left;
	display: inline-block;
	width: 100%;
	margin: 20px auto 0;
}
.color-block{
	width: 5px;
	height:15px;
	background:#FFD600;
	margin: 20px 5px auto auto;
	display: inline-block;
}
.name-info p{
	margin-bottom: 12px;
	width: 100%;
}
.block-text{
	display: inline-block;
}
.skill-content{
	float: left;
	display: block;
	margin-left: 10px;
	margin-bottom: 10px;
}
.skill-content li{
	list-style-type: square;
}
.skill-img{
	width: 64px;
	height: 64px;
	margin: 25px 20px auto auto;
}
.li-list{
	margin:5px auto auto 18px;
}
.ex-div{
	margin-top: 10px;
}
li + p{
	margin-top:10px!important;
}
.collection-img:hover{
	transition-duration: 0.3s;
	-webkit-transition-duration:0.3s;
	-ms-transition-duration: 0.3s;
	box-shadow: 0 2px 6px rgba(0,0,0,0.5);
}

.collection-div span{
	color: #8f8f8f;
	font-size: 13px;
}
.collection-img p{
	text-align: left;
	margin: 12px auto auto 10px;
}
.collection-img span{
	display: block;
	text-align: left;
	margin: 0px auto auto 10px;
	font-size: 15px;
}
.collection-img img{
	width: 100%;
}
.modal-body img{
	max-width: 100%;
}
.modal-body{
	margin: auto;
}
.modal-header{
	border-bottom: none;
}
.modal-content p{
	margin: -10px auto auto 1rem;
	font-size: 13px;
	color: #8f8f8f;

}
.modal-footer{
	border: none!important;
}
.ex-div li span{
	margin-left: 20px;
	color: #F25968;
}
.collection-images .collection-div{
	height: 0;
	margin-top: 0;
	border-radius: 4px;
	overflow:hidden;
	border: 4px solid #fff;
	padding-bottom:67%;	
}
.collection-img{
cursor: pointer;
border-radius: 2px;
display: inline-block;
margin-bottom: 20px;
margin-right: 10px;
background: white;
position: relative;
color: #424651!important;
border: 1px solid #eee;
}
.navbar-title{
	font-size: 15px;
	vertical-align: middle;
}



/*//////////////////////*/
@media(min-width: 1200px){
	.collection-img{
	width: 22%;
	}
}
@media(max-width: 1200px){
	.collection-img{
	width: 30%;
	}
}
@media(min-width: 1800px){
	.collection-img{
	width: 18%;
	}
}
@media(min-width: 992px){
	.navbar-expand-lg{
		width: 250px;
		height: 100%;
		position: fixed;
	}
	.main{
		margin-left:250px;
		position: absolute;
	}
	.content{
		margin: 50px 40px;
		width: auto;
		height: auto;
	}
	ul{
		position: absolute;
		top: 300px;
	}
	.li-text{
		margin-left: 20px;
	}
	.nav-tab2 .nav-link.active,
	.nav-tab2 .nav-item.show .nav-link {
		/*border-left: 4px solid #F25968!important;*/
		font-weight: 500;
		font-size: 14px;
		background: #F5F3F8;
	}
	.circle{
		width: 70px;
		height: 70px;
		background: #91c5fd;
		border-radius: 50%;
		position: relative;
		margin:50px auto 10px;
		display: block;
	}
	.contact-me{
		height:38px;
        background-image: linear-gradient(134deg, #3023AE 0%, #C86DD7 100%);
		color: white;
		padding: 9px 14px;
		margin: 0px auto;
		position: relative;
		display: block;
		text-align: center;
		border: none;
		border-radius: 4px;
		cursor: pointer;
		font-size: 13px;
	}
	.contact-me:hover{
		transition-duration: 0.3s;
		-webkit-transition-duration:0.3s;
		-ms-transition-duration: 0.3s;
		box-shadow: 0 2px 8px rgba(66,44,179,0.5);	
	}
	.navbar-expand-lg p{
		position: relative;
		text-align: center;
		margin: 20px auto;
		font-size: 16px;
	}
	.job-title{
		font-size: 14px;
		font-weight:300;
		color: #8C85A2;
		opacity: 0.7;
	}
	.photo{
	float: left;
	}
	.name-info{
	float: left;
	margin: 20px auto 0px auto;
	}
	.modal-dialog{
		max-width: 900px;
	}
	.navbar-toggler{
		display: none;
	}
	.navbar-title{
		display: none;
	}
}
@media(max-width: 991.98px){
	.content{
		margin: 40px 30px;
	}
/*	.nav a{
		max-width: 150px;
		text-align: center;
	}*/
	.li-text{
		margin-left: 0px;
	}
/*	.nav{
		-ms-flex-pack: center !important;
    	justify-content: center !important;
  	}*/
/*	.nav-tab2 .nav-link.active,
	.nav-tab2 .nav-item.show .nav-link {
		border-bottom: 4px solid #F25968!important;
		font-weight: 500;
	}*/
	.nav{
		display: block;
	}
	.nav a{
		padding-left: 20px;
		width: 100%;
	}
	.contact-me{
		display: none;
	}
	.navbar-expand-lg p{
		display: none;
	}
	.navbar-expand-lg{
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 100;
		min-width: 320px;		
	}
	.main{
		position: absolute;
		top:50px;
		min-width: 320px;
	}
	.circle{
		display: none;
	}
	.photo img{
		display: block;
		margin: 20px 0;
	}
	.skill-content{
		float: left;
		display: block;
		margin-left: 0px;
	}
}
@media(max-width: 575.98px){
	.collection-img{
	width: 45%;
	}
}
@media(min-width: 576px) and (max-width: 991.98px){
/*	.nav a{
		max-width: 180px;
		text-align: center;
	}*/
	.photo{
		float: left;
	}
	.name-info{
		float: left;
		margin: 15px auto;
	}
	.circle{
		display: none;
	}
	.name-info{
		float: left;
		margin: 15px auto;
	}
	.photo img{
		height: 90px;
		width: 90px;
		margin: 20px 20px auto auto;
		border-radius: 2px;
	}
}
.btn-secondary{
	color: #333;
	font-size: 13px;
	background: transparent;
	border: 1px solid rgba(0,0,0,0.3);
}
.btn.btn-prev{
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 5%;
	left: 30px;
	background-color: #3e3e3e;
	border-radius: 50%;
}
.btn.btn-prev:hover{
	opacity: 0.8;
}
.btn.btn-next{
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 5%;
	right: 30px;
	background-color: #3e3e3e;
	border-radius: 50%;
}
.btn.btn-next:hover{
	opacity: 0.8;
}
.btn img{
	width: 50px;
	height: 50px;
	position: absolute;
	left: 0;
	top: 0;
}
.modal{
	background: rgba(0,0,0,0.7);
}
.navbar-toggler{
	margin: 10px 10px 10px 20px;
	font-size: inherit;
}
.navbar-toggler:hover{
	transition-duration: 0.3s;
	-webkit-transition-duration:0.3s;
	-ms-transition-duration: 0.3s;
	transform: scale(1.1);
}
.navbar-toggler:focus{
	outline: none;
}